<!DOCTYPE html>
<html lang="en">
<head>

		<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">



	<title>AnonNetwork</title>

	{% load static %}

		<link rel="stylesheet" type="text/css" href="https://superguestgg.github.io/me/anonnetwork.css">

	<link rel="shortcut icon" type="image/png" href="https://lh3.google.com/u/0/d/1x0vmYeJ_J__ghIRW9M1Cn0mblmFOCqoM=w1920-h865-iv1">



	<link rel="stylesheet" type="text/css" href="{% static 'anonimnetwork/anonnetwork.css' %}">

	<script type="text/javascript" src="https://superguestgg.github.io/me/anonimnetwork/anonnetwork.js"></script>



<script type="text/javascript" src="{% static 'anonimnetwork/anonnetwork.js' %}"></script>


	<script type="text/javascript">
		room_password="{{room.room_password}}";
	</script>
	
</head>
<body>
	<base href="/anonnetwork/{{room.room_name}}/">
	<div class="header"> 
		<div class="menubuttonplace"><div class="menubutton" id="menubutton" onclick="openmenu()">&#9776;</div></div>
		<div class="taskname"><center><a href="/anonnetwork/{{room.room_name}}/">{{room.room_name}} информация</a></center></div>
		<div class="changetheme" id="changetheme" onclick="changetheme()"></div>

		{% if room.room_type_token %} <div class="loginbutton"><center>токен:</center> <input type="text" id="roomtoken" name="roomtoken" placeholder="мой токен"></div><br> {% else %}
		<div class="loginbutton"><center><a href="/anonnetwork/help/">help</a> | <a href="/anonnetwork/about/">about</a></center></div>
		{% endif %}
	</div>
	
		<div class="menuclosed" id="menu">

		<div class="menusubpart"><a href="/anonnetwork/main"><symbol>&#8962;</symbol> главная</a></div>

		<div class="menusubpart"><a href="/anonnetwork/newrooms"><symbol>&#8679;</symbol> новые комнаты</a></div>

		<div class="menusubpart"><a href="/anonnetwork/toprooms"><symbol>&#9734;</symbol> популярные комнаты</a></div>

		<div class="menusubpart"><a href="/anonnetwork/channels"><symbol>&#10064;</symbol> новые каналы </a></div>

		<div class="menusubpart"><a href="/anonnetwork/theme"><symbol>&#8376;</symbol> комнаты по темам</a></div>		

		<div class="menusubpart"><a href="/anonnetwork/createroom"><symbol>&#10010;</symbol> создать новую комнату</a></div>

		<div class="menusubpart"><a href="/anonnetwork/findroom"><symbol>&#128270;</symbol> поиск комнат</a></div>

		<br>

		<div class="menusubpart"><a href="/fizhub/"><symbol>&#10144;</symbol>fizhub</a></div>

    	<div class="menusubpart"><a href="/math/"><symbol>&#10144;</symbol>math book</a></div>

		<div class="menusubpart"><a href="https://superguestgg.github.io/me/"><symbol>&#10144;</symbol>other projects</a></div><br>

		<p>&#946; version</p>

	</div>

	
    <div class="bod">
    	



        {% if True %}


        <div class="task">
        	<div class="taskheader">
    <center> <a href="/anonnetwork/{{room.room_name}}/" id="textarea{{room.id}}">{{ room.room_name }}</a></center>
     описание комнаты: {{information}}

 </div>



        	<div class="solutionbutton" ><a href="/anonnetwork/new">new rooms</a></div>
        	<div class="solutionbutton" ><a href="/anonnetwork/main">main</a></div>
        		

     
        </div>

    

    </div>


{% else %}
		<div class="task">
        	<div class="taskheader">
        	No messages are available.<br>здесь пока пусто, заговорите первым и пустота возможно ответит
        </div>
        {% if pages|add:'-1' %}
        	<div class="solutionbutton" ><a href="/anonnetwork/{{room.room_name}}/page/{{pages|add:'-1'}}">предыдущая страница </a></div>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        	{% endif %}
        	<div class="solutionbutton" ><a href="/anonnetwork/new">new rooms</a></div>
        	<div class="solutionbutton" ><a href="/anonnetwork/main">main</a></div>
        </div>
    
{% endif %}
<script type="text/javascript">
	//openaccountfromcookie("i");
	if ("{{room.room_type_password}}"=="True"){

		document.getElementById("roompassword").value=room_password;
		createcookie(room_password);
	}
</script>
</body>
</html>