<!DOCTYPE html>
<html lang="en">
<head>

		<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">



	<title>AnonNetwork</title>

	{% load static %}

		<link rel="stylesheet" type="text/css" href="https://superguestgg.github.io/me/anonnetwork.css">

	<link rel="shortcut icon" type="image/png" href="https://lh3.google.com/u/0/d/1x0vmYeJ_J__ghIRW9M1Cn0mblmFOCqoM=w1920-h865-iv1">



	<link rel="stylesheet" type="text/css" href="{% static 'anonimnetwork/anonnetwork.css' %}">

	<script type="text/javascript" src="https://superguestgg.github.io/me/anonimnetwork/anonnetwork.js"></script>



<script type="text/javascript" src="{% static 'anonimnetwork/anonnetwork.js' %}"></script>


</head>
<body>

	<div class="header"> 
		<div class="menubuttonplace"><div class="menubutton" id="menubutton" onclick="openmenu()">&#9776;
		</div></div>
		<div class="taskname"><center>комнаты</center></div>
		<div class="changetheme" id="changetheme" onclick="changetheme()"></div>
		<div class="loginbutton"><center><a href="/anonnetwork/help/">help</a> | <a href="/anonnetwork/about/">about</a></center></div>
	</div>

		<div class="menuclosed" id="menu">

		<div class="menusubpart"><a href="/anonnetwork/main"><symbol>&#8962;</symbol> главная</a></div>

		<div class="menusubpart"><a href="/anonnetwork/newrooms"><symbol>&#8679;</symbol> новые комнаты</a></div>

		<div class="menusubpart"><a href="/anonnetwork/toprooms"><symbol>&#9734;</symbol> популярные комнаты</a></div>

		<div class="menusubpart"><a href="/anonnetwork/channels"><symbol>&#10064;</symbol> новые каналы </a></div>

		<div class="menusubpart"><a href="/anonnetwork/theme"><symbol>&#8376;</symbol> комнаты по темам</a></div>		

		<div class="menusubpart"><a href="/anonnetwork/createroom"><symbol>&#10010;</symbol> создать новую комнату</a></div>

		<div class="menusubpart"><a href="/anonnetwork/findroom"><symbol>&#128270;</symbol> поиск комнат</a></div>

		<br>

		<div class="menusubpart"><a href="/fizhub/"><symbol>&#10144;</symbol>fizhub</a></div>

    	<div class="menusubpart"><a href="/anonnetwork/"><symbol>&#10144;</symbol>math book</a></div>

		<div class="menusubpart"><a href="https://superguestgg.github.io/me/"><symbol>&#10144;</symbol>about me</a></div><br>

		<p>&#946; version</p>



	</div>

	{% if publicrooms_list %}
    <div class="bodanon">
    {% for room in publicrooms_list %}
        <div class="room">
        	<img src="https://lh3.google.com/u/0/d/1x0vmYeJ_J__ghIRW9M1Cn0mblmFOCqoM=w1920-h865-iv1" class="room_icon">

        	<a href="/anonnetwork/{{ room.room_name }}/">{{ room.room_name }}</a>

        	
        	
        	<b><a href="/anonnetwork/theme/{{room.room_theme}}">{{room.room_theme}}</a></b>
        	{% if room.room_type_password %}<b>пароль &#128274;</b>{% endif %}
        	{% if room.room_type_token %}<b>шифруется &#10004;</b>{% endif %}
        	{% if room.room_type_channel %}<k>&#922;&#257;н&#257;л &#10064;</k>{% endif %}
        	&nbsp; {{room.room_messages_count}} &#9993;
        	&nbsp; <a href="/anonnetwork/{{ room.room_name }}/description" style="font-size: 20px"> о комнате </a>
        	<script type="text/javascript"> hiddentext("{{task.id}}_text");showtext("{{task.id}}_text");hiddentext("{{task.id}}_text")</script>
        
        
        </div>
    {% endfor %}
    <div class="message">
        	{% if pages|add:'-1' %}
     <a href="/anonnetwork/{{page_name}}/page/{{pages|add:'-1'}}/" id="textarea{{message.id}}"> предыдущая страница </a>
     
     {% endif %}
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<left>страница {{pages}} из {{pagescount}} &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</left>

     {% if next_page %}
     <a href="/anonnetwork/{{page_name}}/page/{{pages|add:'1'}}/" id="textarea{{message.id}}"> следующая страница </a>
     {% else %}

     {% endif %}



        	<br>
        		
     
        </div>
    </div>
{% else %}
		<div class="room">
        	<div class="taskheader">
        	No rooms are available.
        </div>
        {% if page_name %}
        	<div class="solutionbutton" ><center><a href="/anonnetwork/{{page_name}}/page/{{pages|add:'-1'}}/" id="textarea{{message.id}}"> предыдущая страница </a></center></div>{% endif %}
        	<div class="solutionbutton" ><center><a href="/anonnetwork/newrooms">new rooms</a></center></div>
        	<div class="solutionbutton" ><center><a href="/anonnetwork/main">main page</a></center></div>
        </div>
    
{% endif %}
<script type="text/javascript">
	//openaccountfromcookie("i");
</script>
</body>
</html>