<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://superguestgg.github.io/me/anonnetwork.css">
	<link rel="shortcut icon" type="image/png" href="https://lh3.google.com/u/0/d/1x0vmYeJ_J__ghIRW9M1Cn0mblmFOCqoM=w1920-h865-iv1">
	<title>AnonNetwork</title>
	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'anonimnetwork/anonnetwork.css' %}">
	<script type="text/javascript">
		function openmenu() {
			if (document.getElementById("menubutton").className=="menubutton") {
				document.getElementById("menubutton").className="menubutton2";
				document.getElementById("menu").className="menuopened";
				
			} else {
				document.getElementById("menubutton").className="menubutton";
				document.getElementById("menu").className="menuclosed";
			}
		}
		function openaccountfromcookie(string){
			let cookies=(document.cookie).split(";");
			//alert(cookies[2]);
			let cakes=cookies.length;
			//alert(cakes);
			let username="undefined guest";
			let userpassword="1234";
			for (let i =1;i<cakes;i++){
				thiscookie=cookies[i]+"";
				console.log(thiscookie);
				namethiscookie=thiscookie.split("=")[0];
				valuethiscookie=thiscookie.split("=")[1];
				if ((namethiscookie==" username") || (namethiscookie=="username")){
					username=valuethiscookie;
				} else if (namethiscookie==" userpassword" || namethiscookie=="userpassword") {
					userpassword=valuethiscookie;
				}
			}
			console.log(username);
			if (cakes>1) {
				document.getElementById("loginbutton").innerHTML=username;
			}
			if (string=="name"){
				return username
			} else if (string=="password"){
				return userpassword
			}
		}
		let massiveoftaskids=[]
		let massiveoftasks=[]
		function hiddentext(textid){
			let text=document.getElementById(textid).innerHTML
			let minitext=text.substring(0,90)
			minitext=minitext+"..."
			massiveoftaskids.push(textid)
			massiveoftasks.push(text)
			document.getElementById(textid).setAttribute("onclick", "showtext(id)")
			if (text.length>90){
				document.getElementById(textid).innerHTML="краткое условие: "+minitext
				

			} else {
				document.getElementById(textid).innerHTML=text		
					
			}

		}
		function showtext(textid){
			

			document.getElementById(textid).innerHTML=massiveoftasks[massiveoftaskids.indexOf(textid)]
			document.getElementById(textid).setAttribute("onclick", "hiddentext(id)")


			
		}
		function createanswertextarea(id){
			//console.log(id)
			id=id.replace("answer","");
			id2=id.replace("p","");
			message=document.getElementById(id).innerHTML
			message+=`<form action="/anonnetwork/{{room.room_name}}/${id2}/answer/" method="post" enctype="multipart/form-data">
        		{% csrf_token %}
        		<textarea name="textarea" placeholder="ваш ответ на сообщение {{message.id}}" cols="50" rows="5"></textarea><br>
				{% if room.room_type_password %}<div class="tasksubpart">
					пароль: <input type="text" name="roompassword" placeholder="сохраняется в cookies">
				</div><br>{% endif %}
        		<center><input type="submit" name="submit" value="отправить ответ" class="solutionbutton"></center>
        		</form>`
        	document.getElementById(id).innerHTML=message
		}


		
		function copylink(){
			navigator.clipboard.writeText("phs3.na4u.ru/anonnetwork/{{room.room_name}}/{{this_message.id}}");
		}
	</script>
</head>
<body>
	<div class="header"> 
		<div class="menubuttonplace"><div class="menubutton" id="menubutton" onclick="openmenu()">&#9776;</div></div>
		<div class="taskname"><a href="/anonnetwork/{{room.room_name}}/"><center>room: {{room.room_name}}</center></a></div>
		<div class="changetheme" id="changetheme" onclick="changetheme()"></div>
		<div class="loginbutton"><center><a href="/anonnetwork/help/">help</a> | <a href="/anonnetwork/about/">about</a></center></div>
		
	</div>
	<div class="menuclosed" id="menu">
		<div class="menusubpart"><a href="/anonnetwork/main"><symbol>&#8962;</symbol> главная</a></div>
		<div class="menusubpart"><a href="/anonnetwork/newrooms"><symbol>&#8679;</symbol> новые комнаты</a></div>
		<div class="menusubpart"><a href="/anonnetwork/toprooms"><symbol>&#9734;</symbol> популярные комнаты</a></div>
		<div class="menusubpart"><a href="/anonnetwork/channels"><symbol>&#10064;</symbol> новые каналы </a></div>
		<div class="menusubpart"><a href="/anonnetwork/theme"><symbol>&#8376;</symbol> комнаты по темам</a></div>		
		<div class="menusubpart"><a href="/anonnetwork/createroom"><symbol>&#10010;</symbol> создать новую комнату</a></div>
		<div class="menusubpart"><a href="/anonnetwork/findroom"><symbol>&#128270;</symbol> поиск комнат</a></div>
		<br><br>
		<div class="menusubpart"><a href="/physic-in-sesc/">physic-in-sesc</a></div>
		<div class="menusubpart"><a href="https://superguestgg.github.io/me/">about me</a></div><br>
		<p>&#946; version</p>

	</div>
	{% if message_list %}
    <div class="bod">
    	
    {% for message in message_list %}
        <div class="task">
        	<div class="taskheader">
        	<a href="/anonnetwork/{{room.room_name}}/{{ message.id }}/">{{ message.message_text }}</a>{% if message.is_pinned %}&nbsp;&nbsp;&nbsp;&nbsp;
	
		(&#9885; <a href="/anonnetwork/{{room.room_name}}/pinned">pinned</a>)
	
	{% endif %}

        	{% if message.answer_for %}<b><a href="/anonnetwork/{{room.room_name}}/{{message.answer_for}}" style="font-size: 20px"> ответ на сообщение {{message.answer_for}} </a>:  &nbsp; {{answer_for.message_text}} </b>

        	{% endif %}
        	{% if message.is_pinned %}
        	 &nbsp;&nbsp;&nbsp;<a href="/anonnetwork/{{room.room_name}}/{{message.id}}/unpin"> &#128465; unpin</a>
        	{% else %} &nbsp;&nbsp;&nbsp; <a href="/anonnetwork/{{room.room_name}}/{{message.id}}/pin"> &#9885; pin</a>
        	{% endif %} 
        	&nbsp;&nbsp;&nbsp;
        	 {{ message.answers_count }} ответов
        	 &nbsp;&nbsp;&nbsp;
        	 	<click onclick="copylink()"> &#128279; скопировать ссылку</click>
        	</div>
        	
        	<form action="/anonnetwork/{{room.room_name}}/{{message.id}}/answer/" method="post" enctype="multipart/form-data">
        		{% csrf_token %}
        		{% if room.room_type_channel %}{% if isadmin %}
        		<textarea name="textarea" placeholder="текст вашего ответа" cols="50" rows="4" id="textarea0"></textarea><br>
        		{% if room.room_type_password %}
        		<div class="tasksubpart">пароль: <input type="password" id="roompassword" name="roompassword" placeholder="для комнат с паролем"></div><br>
        		{% endif %}
        		{% if room.room_type_channel %}
        		<div class="tasksubpart">пароль: <input type="password" id="passwordadmin" name="passwordadmin" placeholder="для администратора канала"></div><br>
        		{% endif %}
        		{% if room.room_type_token %} <div class="tasksubpart">зашифровать с помощью токена: <input type="button" id="0" onclick="encrypt(id)" value="зашифровать"> <input type="button" id="0" onclick="deencrypt(id)" value="расшифровать"></div><br> {% endif %}
    	 <center><input type="submit" name="submit" value="отправить" class="solutionbutton"></center>
    	 {% else %}
    	 вы не владелец канала <a href="/anonnetwork/{{room.room_name}}/admin/{{message.id}}"> войти как владелец</a>

    	 {% endif %}


    	 {% else %}
    	 	    <textarea name="textarea" placeholder="текст сообщения" cols="50" rows="4" id="textarea0"></textarea><br>
        		{% if room.room_type_password %}
        		<div class="tasksubpart">пароль: <input type="password" id="roompassword" name="roompassword" placeholder="для комнат с паролем"></div><br>
        		{% endif %}
        		{% if room.room_type_channel %}
        		<div class="tasksubpart">пароль: <input type="password" id="passwordadmin" name="passwordadmin" placeholder="для администратора канала"></div><br>
        		{% endif %}
        		{% if room.room_type_token %} <div class="tasksubpart">зашифровать с помощью токена: <input type="button" id="0" onclick="encrypt(id)" value="зашифровать"> <input type="button" id="0" onclick="deencrypt(id)" value="расшифровать"></div><br> {% endif %}
    	 <center><input type="submit" name="submit" value="отправить" class="solutionbutton"></center>


    	 {% endif %}
        		</form>
        		
        	
        		
        	
        	
        
        
        </div>
    {% endfor %}
    </div>
    {% if answers_list %}
    <div class="message"><center>вот они, сверху вниз, ответы на это собщение:{{message_list.answer_count}}</center></div>
    
    {% for message in answers_list %}


        <div class="message" id="{{message.id}}">
        	
     <a href="/anonnetwork/{{room.room_name}}/{{ message.id }}/" id="textarea{{message.id}}">{{ message.message_text }}</a>
     

 <button  id="answer{{message.id}}" onclick="createanswertextarea(id)">ответить</button>
{% if message.is_pinned %}
	
		&#9885; pinned
	
	{% endif %}
        	<br>
        		
{% if room.room_type_token %} 
<div class="messagemenu">

        		действия с помощью токена: 
        	<input type="button" id="{{message.id}}" onclick="encrypt2(id)" value="зашифровать"> 
        	<input type="button" id="{{message.id}}" onclick="deencrypt2(id)" value="расшифровать"></div>{% endif %}
     
        </div>

    {% endfor %}
    {% else %}
    <div class="message"><center>нет ответов</center></div>
    {% endif %}
{% else %}
		<div class="task">
        	<div class="taskheader">
        	No messages are available.
        </div>
        	<div class="solutionbutton" ><center><a href="/anonnetwork/newrooms">new rooms</a></center></div>
        	<div class="solutionbutton" ><center><a href="/anonnetwork/main">main page</a></center></div>
        </div>
    
{% endif %}

<script type="text/javascript">
	openaccountfromcookie("i");
</script>
</body>
</html>