<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://superguestgg.github.io/me/fizhub.css">
	<link rel="shortcut icon" type="image/png" href="https://lh3.google.com/u/0/d/1avlM9VJCfUoHMy_hWdTLV9iGz0IWbup-=w1920-h865-iv1">
	<title>fizhub</title>
	{% load static %}
	

	<link rel="stylesheet" type="text/css" href="{% static 'physicsesc/fizhub.css' %}">
	<script type="text/javascript">
		function openmenu() {
			if (document.getElementById("menubutton").className=="menubutton") {
				document.getElementById("menubutton").className="menubutton2";
				document.getElementById("menu").className="menuopened";
				
			} else {
				document.getElementById("menubutton").className="menubutton";
				document.getElementById("menu").className="menuclosed";
			}
		}
		function savetask(){
			text=document.getElementById("textarea").value;
			theme1=document.getElementById("theme1").value;
			theme2=document.getElementById("theme2").value;
			creatorname=document.getElementById("creatorname").value;
			creatorpassword=document.getElementById("creatorpassword").value;
			picture=(document.getElementById("pictureurl").value);
			for (let i=0;i<100;i++){
				picture=picture.replace("/","^")
			}
			if (picture=="https:^^"){
				document.getElementById("sendtaskbutton").innerHTML='<a id="a" href="/fizhub/sendtask/'+text+'/'+creatorname+'/'+creatorpassword+'/'+theme1+'/'+theme2+'">отправить задачу</a>'
			} else {
				document.getElementById("sendtaskbutton").innerHTML='<a id="a" href="/fizhub/sendtask/'+text+'/'+creatorname+'/'+creatorpassword+'/'+theme1+'/'+theme2+'/'+picture+'">отправить задачу</a>';
			}
		}
		function openaccountfromcookie(string){
			let cookies=(document.cookie).split(";");
			//alert(cookies[2]);
			let cakes=cookies.length;
			//alert(cakes);
			let username="undefined guest";
			let userpassword="1234";
			for (let i =1;i<cakes;i++){
				thiscookie=cookies[i]+"";
				console.log(thiscookie);
				namethiscookie=thiscookie.split("=")[0];
				valuethiscookie=thiscookie.split("=")[1];
				if ((namethiscookie==" user_name")){
					username=valuethiscookie;
				}
			}
			console.log(username);
			if (username == "undefined guest"){
				document.getElementById("creatorname2").innerHTML="вы можете зарегистрироваться <a href='/fizhub/login'>здесь</a> "
			} else {
				document.getElementById("creatorname2").remove()
			}
			if (cakes>1) {
				document.getElementById("loginbutton").innerHTML=`<a href="/fizhub/myaccount">${username}</a>`;
			}
			if (string=="name"){
				return username
			} else if (string=="password"){
				return userpassword
			}
		}
		function writenameandpassword(){
			let name=openaccountfromcookie("name");
			let password=openaccountfromcookie("password");
			if (name!=""){
				document.getElementById("creatorname").value=name;

			}
			if (password!=""){
				document.getElementById("creatorpassword").value=password;
			}
		}
		function conditionregister(){
			if (document.getElementById("creatorname").value=="undefined guest"){
				document.getElementById("creatorname2").innerHTML="вы можете зарегистрироваться на сайте <a href='/fizhub/login'>здесь</a>"
			}
		}
		if ('{{alert}}'){
			alert('{{alert}}')
		}
	</script>
</head>
<body>
	<div class="header"> 
		<div class="menubuttonplace"><div class="menubutton" id="menubutton" onclick="openmenu()">&#9776;</div></div>
		<div class="taskname"><center>новая группа</center></div>
		<div class="changetheme" id="changetheme" onclick="changetheme()"></div>
		<div class="loginbutton" id="loginbutton" ><a href="/fizhub/login">login|войти</a></div>
	</div>
	<div class="menuclosed" id="menu">
		<div class="menusubpart"><a href="/fizhub/main"><symbol>&#8962;</symbol>главная</a></div>
		<div class="menusubpart"><a href="/fizhub/new"><symbol>&#8679;</symbol>новое</a></div>
		<div class="menusubpart"><a href="/fizhub/best"><symbol>&#9734;</symbol>лучшее</a></div>
		<div class="menusubpart"><a href="/fizhub/user">создатели</a></div>
		<div class="menusubpart"><a href="/fizhub/group/">группы</a></div>
		<div class="menusubpart"><a href="/fizhub/olympiad/">олимпиады</a></div>
		<div class="menusubpart"><a href="/fizhub/subscribes/">подписки</a></div>
		<div class="menusubpart"><a href="/fizhub/theme"><symbol>&#8376;</symbol>темы</a></div>
		<div class="menusubpart"><a href="/fizhub/my">мое</a></div>
		<div class="menusubpart"><a href="/fizhub/createtask">новая задача</a></div>
		<br>

		<div class="menusubpart"><a href="/fizhub/useful">полезные файлы</a></div>
		<div class="menusubpart"><a href="/fizhub/login">войти</a></div>
		<div class="menusubpart"><a href="/anonnetwork/">AnonNetwork</a></div>
		<p>&#946; version</p>
	</div>
	
    <div class="bod">
    	
    	<div class="pagemenu">
    		<a href="/fizhub/group/"><symbol>&#8962;</symbol>все</a>&nbsp;&nbsp;&nbsp;
    		<a href="/fizhub/group/new/"><symbol>&#8679;</symbol>новые</a>&nbsp;&nbsp;&nbsp;
    		<a href="/fizhub/group/popular/"><symbol>&#9734;</symbol>популярные</a>&nbsp;&nbsp;&nbsp;
    		<a href="/fizhub/group/find/"><symbol>&#128270;</symbol>найти</a>&nbsp;&nbsp;&nbsp;
    		<a href="/fizhub/group/creategroup/"><symbol>&#10010;</symbol>создать</a>&nbsp;&nbsp;&nbsp;
    		<a href="/fizhub/group/my/">управляемые</a>&nbsp;&nbsp;&nbsp;
    		<a href="/fizhub/group/student/">я участник</a>

    	</div>

        <div class="task">
        	
        	


    <div class="taskheader"><center>новая группа</center></div>
   
    <form action="{% url 'physicsesc:sendgrouppost' %}" method="post" enctype="multipart/form-data">	
    	{% csrf_token %}
    <div class="tasksubpart" id="creatorname2"> 
    </div>

    
    	<div class="tasksubpart">название группы: <input type="text" name="taskheader" placeholder="название задачи"></div>
    	
    	<div class="tasksubpart">группа приватная(доступна только по ссылке) <input type="checkbox" name="task_type_private" ></div>
    	<div class="tasksubpart">для входа в группу нужен пароль <input type="checkbox" name="task_type_private" ></div>
    	<div class="tasksubpart">пароль: <input type="password" name="task_type_private" placeholder="1234"></div>
    	<div class="tasksubpart">для входа в группу нового человека вы или помошники должны подтвердить его кандидатуру <input type="checkbox" name="task_type_private" ></div>

        <textarea id="textarea" placeholder="описания группы" cols='90' rows='10' name="textarea"></textarea>
        <div class="tasksubpart">ссылка на картинку: <input type="text" value="https://" id="pictureurl" name="pictureurl"></div>
        <div class="tasksubpart">только для админа и друзей загрузить картинку <input type="file" accept="image/jpeg,image/png,image/img" value="" id="" name="file"></div>

		<center><input type="submit" value="отправить задачу" class="solutionbutton"></center>
        </form>
    
    

    

</div>

</div>
<script type="text/javascript">

	openaccountfromcookie();
</script>
</body>
</html>
