<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://superguestgg.github.io/me/fizhub.css">
	<link rel="shortcut icon" type="image/png" href="https://lh3.google.com/u/0/d/1nPgI5wBZlSygNgSwPTjaPLXApBiRslrr=w600-h570-p-k-nu-iv1">
	<title>fizhub</title>
	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'physicsesc/fizhub.css' %}">
	<script type="text/javascript">
		function openmenu() {
			if (document.getElementById("menubutton").className=="menubutton") {
				document.getElementById("menubutton").className="menubutton2";
				document.getElementById("menu").className="menuopened";
				
			} else {
				document.getElementById("menubutton").className="menubutton";
				document.getElementById("menu").className="menuclosed";
			}
		}
		function openaccountfromcookie(string){
			let cookies=(document.cookie).split(";");
			//alert(cookies[2]);
			let cakes=cookies.length;
			//alert(cakes);
			let username="undefined guest";
			let userpassword="1234";
			for (let i =1;i<cakes;i++){
				thiscookie=cookies[i]+"";
				console.log(thiscookie);
				namethiscookie=thiscookie.split("=")[0];
				valuethiscookie=thiscookie.split("=")[1];
				if ((namethiscookie==" user_name")){
					username=valuethiscookie;
				}
			}
			console.log(username);
			//if (username == "undefined guest"){
			//	document.getElementById("creatorname2").innerHTML="вы можете зарегистрироваться <a href='/fizhub/login'>здесь</a> "
			//} else {
			//	document.getElementById("creatorname2").remove()
			//}
			if (cakes>1) {
				document.getElementById("loginbutton").innerHTML=`<a href="/fizhub/myaccount">${username}</a>`;
			}
			if (string=="name"){
				return username
			} else if (string=="password"){
				return userpassword
			}
		}
		if ('{{alert}}'){
			alert('{{alert}}')
		}
	</script>
</head>
<body>
	<div class="header"> 
		<div class="menubuttonplace"><div class="menubutton" id="menubutton" onclick="openmenu()">&#9776;</div></div>
		<div class="taskname"><center>{{task.id}}</center></div>
		<div class="changetheme" id="changetheme" onclick="changetheme()"></div>
		<div class="loginbutton" id="loginbutton" ><a href="/fizhub/login">login|войти</a></div>
	</div>
	<div class="menuclosed" id="menu">
		<div class="menusubpart"><a href="/fizhub/main"><symbol>&#8962;</symbol>главная</a></div>
		<div class="menusubpart"><a href="/fizhub/new"><symbol>&#8679;</symbol>новое</a></div>
		<div class="menusubpart"><a href="/fizhub/best"><symbol>&#9734;</symbol>лучшее</a></div>
		<div class="menusubpart"><a href="/fizhub/user">создатели</a></div>
		<div class="menusubpart"><a href="">олимпиады</a></div>
		<div class="menusubpart"><a href="/fizhub/subscribes/">подписки</a></div>
		<div class="menusubpart"><a href="/fizhub/theme"><symbol>&#8376;</symbol>темы</a></div>
		<div class="menusubpart"><a href="/fizhub/my">мое(no)</a></div>
		<div class="menusubpart"><a href="/fizhub/createtask">новая задача</a></div>
		<br>

		<div class="menusubpart"><a href="/fizhub/useful">полезные файлы</a></div>
		<div class="menusubpart"><a href="/fizhub/login">войти</a></div>
		<div class="menusubpart"><a href="/anonnetwork/">AnonNetwork</a></div>
		<p>&#946; version</p>
	</div>
	{% if task %}
    <div class="bod">
    	
        <div class="task">
        	<div class="taskheader"><center><a href="/fizhub/{{task.id}}">{{task.task_name}}</a></center>
        	<i><a href="/fizhub/theme/{{task.theme1_name}}">{{task.theme1_name}}</a></i>
        	<i><a href="/fizhub/theme/{{task.theme2_name}}">{{task.theme2_name}}</a></i>
        	<i><a href="/fizhub/class/{{task.class_name}}">{{task.class_name}} класс</a></i>
        	<b>task by <a href="/fizhub/user/{{task.creator_name.guest_name}}">{{task.creator_name.guest_name}}</a></b>
        	<br>
        	условие задачи:<br>{{ task.task_text }}
        	
        	{% if task.picture_href %}
        	<br><img class="medium" src="{{task.picture_href}}" alt="no image">

        {% endif %}
        <div class="like" ><a href="/fizhub/{{ task.id }}/like" name="like">like &#128077;| {{task.like_count}}</a></div>
        	<div class="report" ><a href="/fizhub/{{ task.id }}/report" name="report">жалоба &#128078;| {{task.report_count}}</a></div>
        	</div>
        	
        	<div class="solutionbutton" >
        		<a href="/fizhub/{{ task.id }}/solution" name="open solution">открыть решение</a></div>
        	<div class="solutionbutton" >
        		<a href="/fizhub/{{ task.id }}/makesolution" name="i know solution!">я знаю решение!</a></div>
        	

        </div>
    
    </div>
{% else %}
    <p>No tasks are available.<br>упс, такого задания нет, но вы можете создать новое<a href="/fizhub/createtask">здесь</a></p>
{% endif %}
<script type="text/javascript">
	//<a href="/fizhub/picture/{{task.picture_href}}">////.replace('/','^')
	openaccountfromcookie("i");
</script>
</body>
</html>