<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://superguestgg.github.io/me/fizhub.css">
	<link rel="shortcut icon" type="image/png" href="https://lh3.google.com/u/0/d/1nPgI5wBZlSygNgSwPTjaPLXApBiRslrr=w600-h570-p-k-nu-iv1">
	<title>fizhub</title>
	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'physicsesc/fizhub.css' %}">
	<script type="text/javascript">
		function openmenu() {
			if (document.getElementById("menubutton").className=="menubutton") {
				document.getElementById("menubutton").className="menubutton2";
				document.getElementById("menu").className="menuopened";
				
			} else {
				document.getElementById("menubutton").className="menubutton";
				document.getElementById("menu").className="menuclosed";
			}
		}
		function openaccountfromcookie(string){
			let cookies=(document.cookie).split(";");
			//alert(cookies[2]);
			let cakes=cookies.length;
			//alert(cakes);
			let username="undefined guest";
			let userpassword="1234";
			for (let i =1;i<cakes;i++){
				thiscookie=cookies[i]+"";
				console.log(thiscookie);
				namethiscookie=thiscookie.split("=")[0];
				valuethiscookie=thiscookie.split("=")[1];
				if ((namethiscookie==" user_name")){
					username=valuethiscookie;
				}
			}
			console.log(username);
			if (username == "undefined guest"){
				document.getElementById("creatorname2").innerHTML="вы можете зарегистрироваться <a href='/fizhub/login'>здесь</a> "
			} else {
				document.getElementById("creatorname2").remove()
			}
			if (cakes>1) {
				document.getElementById("loginbutton").innerHTML=`<a href="/fizhub/myaccount">${username}</a>`;
			}
			if (string=="name"){
				return username
			} else if (string=="password"){
				return userpassword
			}
		}
		function writenameandpassword(){
			let name=openaccountfromcookie("name");
			let password=openaccountfromcookie("password");
			if (name!=""){
				document.getElementById("creatorname").value=name;

			}
			if (password!=""){
				document.getElementById("creatorpassword").value=password;
			}
		}
		function conditionregister(){
			if (document.getElementById("creatorname").value=="undefined guest"){
				document.getElementById("creatorname2").innerHTML="вы можете зарегистрироваться на сайте <a href='/fizhub/login'>здесь</a>"
			}
		}
		if ('{{alert}}'){
			alert('{{alert}}')
		}
	</script>
</head>
<body>
	<div class="header"> 
		<div class="menubuttonplace"><div class="menubutton" id="menubutton" onclick="openmenu()">&#9776;</div></div>
		<div class="taskname"><center>полезные файлы</center></div>
		<div class="changetheme" id="changetheme" onclick="changetheme()"></div>
		<div class="loginbutton" id="loginbutton" ><a href="/fizhub/login">login|войти</a></div>
	</div>
	<div class="menuclosed" id="menu">
		<div class="menusubpart"><a href="/fizhub/main"><symbol>&#8962;</symbol>главная</a></div>
		<div class="menusubpart"><a href="/fizhub/new"><symbol>&#8679;</symbol>новое</a></div>
		<div class="menusubpart"><a href="/fizhub/best"><symbol>&#9734;</symbol>лучшее</a></div>
		<div class="menusubpart"><a href="/fizhub/user">создатели</a></div>
		<div class="menusubpart"><a href="">олимпиады</a></div>
		<div class="menusubpart"><a href="">подписки(no)</a></div>
		<div class="menusubpart"><a href="/fizhub/theme"><symbol>&#8376;</symbol>темы</a></div>
		<div class="menusubpart"><a href="">мое(no)</a></div>
		<div class="menusubpart"><a href="/fizhub/createtask">новая задача</a></div>
		<br>

		<div class="menusubpart"><a href="/fizhub/useful">полезные файлы</a></div>
		<div class="menusubpart"><a href="/fizhub/login">войти</a></div>
		<div class="menusubpart"><a href="/anonnetwork/">AnonNetwork</a></div>
		<p>&#946; version</p>
	</div>
	
    <div class="bod">
    
        <div class="task">
        	<div class="taskheader">
        		полезные файлы
        	</div>
        	<div class="tasksubpart"><a href="https://drive.google.com/file/d/1LpFdjqN-7zGX-zTLDX7_Jqi9dSw_O8LC/view" target="_blank">3800</a></div>
        	<div class="tasksubpart"><a href="https://drive.google.com/file/d/1o5JoqdhmDPczh4Toj33a_aSMFGUIizXS/view" target="_blank">savchenko</a></div>
        	<div class="tasksubpart"><a href="https://drive.google.com/file/d/1nzz52Gi7CmVoVckY915AIqmC6YIkdzAs/view" target="_blank">rc</a></div>
        </div>
    	<div class="task">
    		<div class="taskheader">
        		полезные файлы
        	</div>
        	{% for file in useful_files %}
        		<div class="tasksubpart"><a href="{{file.file_href}}" target="_blank">{{file.file_name}}</a>
        			<a href="/fizhub/user/{{file.creator_name.guest_name}}"></a>
        		</div>


        	{% endfor %}
    	</div>
    	<div class="task">
    		<div class="taskheader">
        		создать новый полезный файл
        	</div>
        	
			<form action="{% url 'physicsesc:sendusefulfile' %}" method="post">	
    	{% csrf_token %}
    	<div class="tasksubpart" id="creatorname2"></div>

    	<div class="tasksubpart">
    	название файла:
    	<input type="text" id="filename" placeholder="название файла" name="filename">
    </div>    
    <div class="tasksubpart">
    	ссылка на файл:
    	<input type="text" id="filehref" placeholder="ссылка на файл" name="filehref" >
    </div>

    	<center><input type="submit" class="solutionbutton" name="submit" value="создать"></center>

        	</form>


        	
    	</div>
    </div>


    
<script type="text/javascript">
	openaccountfromcookie("i");
	writenameandpassword();
	conditionregister();
</script>
</body>
</html>