<!DOCTYPE html>
<html lang="en">
<head>

	+++headmeta---

	+++headlinks---

	+++headscripts---

</head>
<body>
	<div class="header"> 
		<div class="menubuttonplace"><div class="menubutton" id="menubutton" onclick="openmenu()">&#9776;</div></div>
		<div class="taskname"><center><span class="spanpagename">поиск комнат</span></center></div>
		<div class="changetheme" id="changetheme" onclick="changetheme()"></div>
		<div class="loginbutton"><center><a href="/anonnetwork/help/">help</a> | <a href="/anonnetwork/about/">about</a></center></div>
		
	</div>

	+++leftmenu---
	
    <div class="bod">
    	<div class="task">
        	<div class="taskheader">
        	<center>введите название комнаты</center>
        	</div>
        	<form action="/anonnetwork/findroom/" method="post" enctype="multipart/form-data">	

    	{% csrf_token %}
        		{% if string %}
        		<div class="tasksubpart">название: <input type="text" name="room_name" value="{{string}}" placeholder="да, название вводить сюда"></div>
        		{% else %}
        		<div class="tasksubpart">название: <input type="text" name="room_name" placeholder="да, название вводить сюда"></div>
        		{% endif %}
        		<br>

    	 <center><input type="submit" name="submit" value="найти" class="solutionbutton"></center>
        	</form>
        	
        	
        	
        	
        	
        
        
        </div>
        
    </div>
    {% if publicrooms_list %}

    	{% for room in publicrooms_list %}
        <div class="room">
        	
        	<a href="/anonnetwork/{{ room.room_name }}/">{{ room.room_name }}</a>

        	
        	
        	<b><a href="/anonnetwork/theme/{{room.room_theme}}">{{room.room_theme}}</a></b>
        	{% if room.room_type_password %}<b>пароль &#128274;</b>{% endif %}
        	{% if room.room_type_token %}<b>шифруется &#10004;</b>{% endif %}
        	{% if room.room_type_channel %}<k>&#922;&#257;н&#257;л &#10064;</k>{% endif %}
        	&nbsp; {{room.room_messages_count}} сообщений
        	&nbsp; <a href="/anonnetwork/{{ room.room_name }}/description" style="font-size: 20px"> о комнате </a>
        	<script type="text/javascript"> hiddentext("{{task.id}}_text");showtext("{{task.id}}_text");hiddentext("{{task.id}}_text")</script>
        
        
        </div>
    {% endfor %}

    {% else %}
		<div class="task">
        	<div class="taskheader">
        		<center>пока ничего не найдено, попробуйте ввести тему</center>
        	<center>(ps: приватные комнаты здесь не видны)</center>
        </div>
        	<div class="solutionbutton" ><a href="/anonnetwork/newrooms">new rooms</a></div>
        	<div class="solutionbutton" ><a href="/anonnetwork/main">main page</a></div>
        </div>
       {% endif %}
    

<script type="text/javascript">
	//openaccountfromcookie("i");
</script>
</body>
</html>